@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@{
    var page = GetService<ToSic.Sxc.Web.IPageService>();

    // todo
    // change image resizing to use settings

    var sharedSettings = AsDynamic(Content, Settings);
    var textPosition = sharedSettings.TextPosition;
    var moduleId = CmsContext.Module.Id;

    // temp 2dm
    var resizeSettings = AsDynamic(Content.ImageSettings, App.Settings.ImageSettings, Settings.Images.Content);
    
    // Todo: Discuss w/2ro - we should probably use a BS-cols count or something instead?
    var elemWidth = (textPosition == "none") ? "100%" : "600px";

    // TODO: Bug? if the screen is narrow, the splitter moves with the text height, not with the image height

    var labelBefore = sharedSettings.ShowLabels ? Content.BeforeLabel : "";
    var labelAfter = sharedSettings.ShowLabels ? Content.AfterLabel : "";

    // sets image order to 1, if text should be left
    var order = textPosition == "left" ? "order: 1;" : "";
}
<div class="app-imagecompare2" @Edit.TagToolbar(Content)>
    <h2>@Content.Title</h2>
    <div class="content "> <!-- todo: find out what scale=both does-->
        <div style="@order">
            <div id="@moduleId" class="beer-slider" @* style="elemWidth" *@  data-beer-label="@labelBefore"> 
                <img src="@Link.Image(Content.BeforeImage, resizeSettings)" />
                <div class="beer-reveal" data-beer-label="@labelAfter">
                    <img src="@Link.Image(Content.AfterImage, resizeSettings)" />
                </div>
            </div>
        </div>
        @if(textPosition != "none") {
            <div>@Html.Raw(Content.DescriptionText)</div>
        }
    </div>
</div>

@Html.Partial("_ImageCompare.PartAssets.cshtml")
