@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;

@{
    var page = GetService<ToSic.Sxc.Web.IPageService>();
    page.Activate("jQuery");

    var elemWidth = Content.Presentation.Width + "px";
}

<div class="app-compimg" @Edit.TagToolbar(Content)>
    <h2>@Content.Title</h2>
    <div class="app-compimg-@Content.EntityId app-compimg-@Settings.TextPosition app-compimg-showoverlay-@Content.Presentation.ShowImageLabels twentytwenty-container">
        <img src="@Content.BeforeImage?mode=@Content.Presentation.ScaleMode&w=@Content.Presentation.Width&h=@Content.Presentation.Height&scale=both" />
        <img src="@Content.AfterImage?mode=@Content.Presentation.ScaleMode&w=@Content.Presentation.Width&h=@Content.Presentation.Height&scale=both" />
    </div>
    @if(Settings.TextPosition != "none") {
        <div>@Html.Raw(Content.DescriptionText)</div>
    }
    <div style="clear:both;"></div>    
</div>

<style type="text/css">
    .app-compimg { margin-bottom: 25px; }
    .app-compimg-@Content.EntityId { width: @elemWidth; }
    .app-compimg-@Content.EntityId .twentytwenty-after-label:before { content: "@Content.AfterText"; }
    .app-compimg-@Content.EntityId .twentytwenty-before-label:before { content: "@Content.BeforeText"; }
</style>

<script type="text/javascript" data-enableoptimizations="true" src="@App.Path/assets/jquery.event.move.js"></script>
<script type="text/javascript" data-enableoptimizations="true" src="@App.Path/assets/jquery.twentytwenty.autoload.js"></script>
<link rel="stylesheet" data-enableoptimizations="true" href="@App.Path/assets/twentytwenty.extended.css" />